@import url("https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  /*background: linear-gradient(#43e97b, #38f9d7);*/
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Loading Screen Start*/
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  color: #292f3f;
  margin-bottom: 25px;
}
.add {
  animation: animate 0.7s ease-in-out 0.1s;
}
@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.progress-bar {
  width: 406px;
  height: 22px;
  background: #111;
  border-radius: 13px;
  padding: 3px;
  box-sizing: border-box;
}
.progress {
  width: 203px;
  height: 16px;
  background: #43e97b;
  border-radius: 13px;
}
.percent {
  position: absolute;
  left: 187px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 23px;
}

/* Loading Screen End */

/* Menu Start */

header .nav-bar {
  display: flex;
  justify-content: space-between;
}

header .nav-bar .options,
header .nav-bar .log-in-out {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
}

header .nav-bar button {
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  border: 1px solid #7e0633;
  border-radius: 100%;
  background-color: #7e0633;
  color: white;
  cursor: pointer;
}

header .nav-bar button:hover,
main .menu a:hover {
  background-color: #f82f43;
  border: 1px solid #f82f43;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: #fcdcc5;
}

main .menu {
  display: flex;
  flex-direction: column;
  background-image: url(../img/bg1.jpg);
  margin: 4rem 0;
  padding: 3rem 0;
  border-radius: 1rem;
}

main .menu a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 4rem;
  padding: 1rem 4rem;
  border: 1px solid #7e0633;
  border-radius: 5px;
  background-color: #7e0633;
  color: #fcdcc5;
  cursor: pointer;
}
main .menu a i {
  margin-right: 1rem;
}

main .guide,
main .rank {
  width: 50vh;
  height: auto;
  margin: 2rem auto;
  padding: 2rem 1rem;
  background-image: url(../img/bg1.jpg);
}

main .rank {
  width: 1200px;
  padding: 2rem 5rem;
}

main .guide p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
}

main .rank ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 2.2rem;
  font-weight: 700;
}

main .rank ul li .ranknbr {
  align-self: start;
  width: 2rem;
}

main .rank ul li .username {
  align-self: center;
  text-align: center;
  width: 10rem;
}

main .rank ul li .score {
  align-self: end;
  width: 3rem;
}

footer {
  margin-top: auto;
  text-align: center;
  width: 100%;
  background-color: #292f3f;
  color: white;
  padding: 1rem 0;
}

/* Menu End */
