@import url("https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#43e97b, #38f9d7);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Loading Screen Start*/
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  color: #292f3f;
  margin-bottom: 25px;
}
.add {
  animation: animate 0.7s ease-in-out 0.1s;
}
@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.progress-bar {
  width: 406px;
  height: 22px;
  background: #111;
  border-radius: 13px;
  padding: 3px;
  box-sizing: border-box;
}
.progress {
  width: 203px;
  height: 16px;
  background: #43e97b;
  border-radius: 13px;
}
.percent {
  position: absolute;
  left: 187px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 23px;
}

/* Loading Screen End */

/* Menu Start */

header .nav-bar {
  display: flex;
  justify-content: space-between;
}

header .nav-bar .options,
header .nav-bar .log-in-out {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
}

header .nav-bar button {
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 100%;
  background-color: #292f3f;
  color: white;
  cursor: pointer;
}

header .nav-bar button:hover {
  background-color: #292f3f80;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  margin-top: 2rem;
}

main .menu {
  display: flex;
  flex-direction: column;
  background-color: gray;
  margin: 4rem 0;
  padding: 3rem 0;
}

main .menu a {
  text-align: center;
  text-decoration: none;
  margin: 1rem 4rem;
  padding: 1rem 4rem;
  border: 1px solid #292f3f;
  border-radius: 5px;
  background-color: #292f3f;
  color: white;
  cursor: pointer;
}
main .menu a i {
  margin-right: 1rem;
}

footer {
  margin-top: auto;
  text-align: center;
  width: 100%;
  background-color: #292f3f;
  color: white;
  padding: 1rem 0;
}

/* Menu End */
